* {
    box-sizing: border-box;
  }
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 60px;
    font-weight: bolder;
  }
body {
   background-image: url('https://i.imgur.com/ss6UQjy.jpg');
    background-size: 130%;
    font-family: Arial;
    align-content: center;
    }
h1 {
        color: #420D09;
        text-align: center;
        font-family: cursive;
        font-style: italic;
        font-weight: bolder;
        font-size: 44px;
    }
form {
    display: flex;
    text-transform: uppercase;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    margin: 10px;
    padding: 12px;
}
button {
    background-color:rgba(66, 13, 55, 0.589);
    font-weight: bolder;
    padding: 10px;
    margin: 0px;
  }
  button:hover {
    background-color: darkolivegreen;
    transition: all 0.25s ease;
  }
  .Favorite{
    font-size: 14px;
    text-align: left;
    color: #420D09;
    font-weight: bolder;
    font-family: cursive;
    position: absolute;
    width: 10vw;
 }
.Giphy-list {
display: flex;
justify-content: center;
font-family: cursive;
}  
#results {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    justify-content: space-between;
}
div {
    display: block;
}
.gifsContainer {
    margin: 10px;
}
h4{
    display: block;
    color: #420D09;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
img{
        align-content: center;
        margin: 0px;
        padding: 0vw;
        image-resolution: 167px;
        display: inline;
        max-block-size: 10vw;

}
span {
      text-align: left;
      font-size: medium;
      font-family: cursive;
  }
  footer{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
      text-align: right;
      font-style: italic;
      font-stretch: semi-condensed;
      padding-bottom: 10px;
      padding: 20px;
  }
 
  @media screen and (min-width: 400px) {
    body {
      background-color: darkolivegreen;
    }
  }
  @media (max-width: 700px) {
    .Favorite {   
      flex-direction: column;
    }
  }